# Python
__pycache__/
*.pyc

# Environnements
.env
.env.*
venv/
.venv/

# Bases de données
*.sqlite
*.sqlite3

# Logs
*.log
*.log.*
logs/

# Backups
backup/

# Sessions Flask
flask_sessions/

# IDE / OS
.vscode/
.DS_Store

# Secrets
service_account.json

# Parasites
C:*

# static/evenements
static/evenements/

# uploads utilisateurs
static/uploads/

# fichiers temporaires
tmp/
*.tmp

# export
exports/

# instance Flask
instance/

#Photos bénévoles
static/photos_benevoles/
