{% from "macros/buttons.html" import action_button, action_buttons %}

{% call action_buttons() %}

    {{ action_button(
        "📧 Envoyer un mail",
        href=url_for('benevoles.envoi_mail_benevoles', bene_id=benevole['id'], retour_url=request.url),
        color="outline-primary"
    ) }}

    {% if previous_id is defined and previous_id %}
    {{ action_button(
        "⬅️ Précédent",
        onclick="handleNav('" ~ url_for('benevoles.update_benevole', benevole_id=previous_id) ~ (("?" ~ next_url|replace('&', '&amp;')) if next_url is defined else "") ~ "')",
        color="outline-secondary"
    ) }}
    {% endif %}

    {{ action_button("✅ Enregistrer les modifications", onclick="handleSave()", color="primary") }}


    {% if next_id is defined and next_id %}
    {{ action_button(
        "➡️ Suivant",
        onclick="handleNav('" ~ url_for('benevoles.update_benevole', benevole_id=next_id) ~ (("?" ~ next_url|replace('&', '&amp;')) if next_url is defined else "") ~ "')",
        color="outline-secondary"
    ) }}
    {% endif %}




    {{ action_button(
        "↩️ Retour",
        onclick="handleReturn('" ~ url_for('benevoles.benevoles') ~ (("?" ~ next_url|replace('&', '&amp;')) if next_url is defined else "") ~ "')",
        color="outline-dark"
    ) }}

{% endcall %}
