{% extends "base.html" %}

{% block title %}Module Distribution{% endblock %}

{% block content %}
<div class="container mt-4">

  <h2 class="mb-3">📦 Module Distribution</h2>

  <div class="d-flex justify-content-end">
    <a href="{{ url_for('index') }}" class="btn btn-outline-dark mb-3">
      ↩️ Retour à l'accueil
    </a>
  </div>

  <div class="list-group">

    <!-- ================= MVTS DE STOCK ================= -->
    <div class="list-group-item active mt-3">
      🚚 Mouvements de Stocks
    </div>


    <a href="{{ url_for('distribution.visualisation_stock') }}" class="list-group-item list-group-item-action">
      👁️ Visualisation des stocks
    </a>

    <a href="{{ url_for('distribution.mouvements_stocks_depot') }}" class="list-group-item list-group-item-action">
      📊 Mouvements de stocks – Dépôt
    </a>

    <a href="{{ url_for('distribution.mouvements_stocks_v2') }}" class="list-group-item list-group-item-action">
      🧪 Mouvements de stocks – V2 (beta)
    </a>

    <!-- ================= RAMASSE ================= -->
    <div class="list-group-item active mt-3">
      🚚 Ramasse partenaires
    </div>

    <a href="{{ url_for('distribution.ramasse_types_list') }}" class="list-group-item list-group-item-action">
      ⚙️ Modèles de ramasse
    </a>

    <a href="{{ url_for('distribution.ramasse_types_list') }}" class="list-group-item list-group-item-action">
      📝 Saisie de ramasse
    </a>

    <a href="{{ url_for('distribution.liste_ramasses') }}" class="list-group-item list-group-item-action">
      📊 Historique des ramasses
    </a>


  </div>
</div>

{% endblock %}
