body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

.fiche-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 2px solid #333;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

p {
    font-size: 16px;
    line-height: 1.5;
    margin: 10px 0;
}

strong {
    color: #555;
}

table td form {
  display: inline;
}
