<div class="card mb-3">
  <div class="card-header bg-warning">3) Les personnes accueillies</div>
  <div class="card-body">
    <p class="text-muted">
      Objectif : Conformément à l’objectif n°4 de la charte des BA, s’adapter aux besoins des personnes en situation de précarité, nous vous proposons un échange sur les profils et les besoins des personnes accueillies.
    </p>

    <label>●	Quels sont les profils des personnes accueillies ? Remarquez-vous une évolution du public et de leurs besoins ?</label>
    {% if lecture_seule %}
      <p>{{ fiche.get("type_de_personnes_aidees","") }}</p>
    {% else %}
      <textarea class="form-control mb-2" name="type_de_personnes_aidees">{{ fiche.get('type_de_personnes_aidees','') }}</textarea>
    {% endif %}

    <label>●	Quelle est la durée moyenne d’accès à l’aide alimentaire ?</label>
    {% if lecture_seule %}
      <p>{{ fiche.get("duree_de_l_accompagnement","") }}</p>
    {% else %}
      <textarea class="form-control mb-2" name="duree_de_l_accompagnement">{{ fiche.get('duree_de_l_accompagnement','') }}</textarea>
    {% endif %}
  </div>
</div>
