{% extends "base_assos.html" %}
{% block title %}Factures PDF{% endblock %}

{% block content %}
<div class="container mt-4" style="max-width:900px;">

    <h2>📄 Envoi des factures (PDF)</h2>

    <!-- MODE -->
    <form method="post" action="{{ url_for('tresorerie.factures_toggle_mode') }}" class="mb-3">

        {% if mail_mode == "TEST" %}
        <button class="btn btn-warning w-100">
            🧪 Mode TEST actif – Passer en PROD
        </button>
        {% else %}
        <button class="btn btn-danger w-100">
            🚀 Mode PROD actif – Repasser en TEST
        </button>
        {% endif %}

    </form>

    <!-- INFO MODE -->
    {% if mail_mode == "TEST" %}
    <div class="alert alert-warning">
        🧪 MODE TEST : seuls 2 mails seront envoyés à {{ mail_test_to }}
    </div>
    {% else %}
    <div class="alert alert-danger">
        🚨 MODE PROD : envoi réel aux associations
    </div>
    {% endif %}


    <form method="post" enctype="multipart/form-data">

        <div class="mb-3">
            <label>Expéditeur</label>
            <select name="mail_sender" class="form-select">
                <option value="ba380.comptable@banquealimentaire.org"
                    {% if mail_sender == "ba380.comptable@banquealimentaire.org" %}selected{% endif %}>
                    ba380.comptable@banquealimentaire.org
                </option>
                <option value="ba380@banquealimentaire.org"
                    {% if mail_sender == "ba380@banquealimentaire.org" %}selected{% endif %}>
                    ba380@banquealimentaire.org
                </option>
                <option value="ba380.tresorier@banquealimentaire.org"
                    {% if mail_sender == "ba380.tresorier@banquealimentaire.org" %}selected{% endif %}>
                    ba380.tresorier@banquealimentaire.org
                </option>
            </select>
        </div>

        <div class="mb-3">
            <label class="form-label">Fichier PDF</label>
            <input type="file" name="pdf_file" class="form-control" accept="application/pdf" required>
        </div>

        <div class="d-flex justify-content-between">
            <a href="{{ url_for('tresorerie.tresorerie') }}" class="btn btn-secondary">⬅ Retour</a>
            <button class="btn btn-primary">🔍 Analyser</button>
        </div>

    </form>

</div>
{% endblock %}
