{% extends "base_assos.html" %}

{% block content %}
<div class="container mt-4">

  <div class="alert alert-success">
    ✅ Découpe terminée – téléchargement en cours...
  </div>

  <p>Si le téléchargement ne démarre pas :</p>

  <a href="{{ url_for('tresorerie.download_zip') }}" class="btn btn-primary">
    📥 Télécharger le fichier
  </a>

</div>

<script>
    setTimeout(function() {
        window.location.href = "{{ url_for('tresorerie.download_zip') }}";
    }, 500);
</script>

{% endblock %}