{% extends "base.html" %}

{% block content %}
    <h2>Réinitialisation du mot de passe</h2>
    <p>Entrez votre nouveau mot de passe ci-dessous.</p>

    <form method="POST">
        {{ form.hidden_tag() }}
        <div>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}
        </div>
        <br>
        <div>
            {{ form.confirm_password.label }}<br>
            {{ form.confirm_password(size=32) }}
        </div>
        <br>
        <div>
            {{ form.submit() }}
        </div>
    </form>
{% endblock %}
