{% macro action_buttons(buttons=None) %}
<div class="d-flex justify-content-end mb-3">
    <div style="display:flex; gap:15px; flex-wrap:wrap;">
        {% if buttons %}
            {% for btn in buttons %}
                {% if btn.onclick %}
                    <button
                        type="{{ btn.type or 'button' }}"
                        class="btn btn-{{ btn.color }} "
                        onclick="{{ btn.onclick }}"
                        {% if btn.disabled %}disabled{% endif %}>
                        {{ btn.label }}
                    </button>
                {% else %}
                    <a href="{{ btn.url }}"
                       class="btn btn-{{ btn.color }}
                       {% if btn.disabled %}disabled{% endif %}">
                        {{ btn.label }}
                    </a>
                {% endif %}
            {% endfor %}
        {% elif caller %}
            {{ caller() }}
        {% endif %}
    </div>
</div>
{% endmacro %}



{% macro action_button(
    label,
    href=None,
    onclick=None,
    color="primary",
    size="md"
) %}

{% if href %}
<a href="{{ href }}"
   class="btn btn-{{ color }}">
    {{ label }}
</a>

{% else %}
<button type="button"
        class="btn btn-{{ color }}"
        {% if onclick %}
        onclick="{{ onclick }}"
        {% endif %}>
    {{ label }}
</button>
{% endif %}

{% endmacro %}

