{% extends "base.html" %}

{% from "macros/buttons.html" import action_button, action_buttons %}

{% block title %}Réinitialiser mot de passe{% endblock %}

{% block content %}
<h2>🔐 Réinitialisation mot de passe</h2>

<form method="post" class="mb-4">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
  <div class="form-group">
    <label for="email">Utilisateur :</label>
    <select name="email" class="form-control" required>
      {% for user in users %}
      <option value="{{ user.email }}">{{ user.username }} ({{ user.email }})</option>
      {% endfor %}
    </select>
  </div>

  <div class="form-group mt-2">
    <label for="new_password">Nouveau mot de passe :</label>
    <input type="password" name="new_password" class="form-control" required>
  </div>

  <button type="submit" class="btn btn-primary mt-3">💾 Réinitialiser</button>
</form>

{{ action_button("Retour", href=url_for('index'), color="outline-dark") }}
{% endblock %}
